# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/

# Environments
venv/
.env
.env.*

# Alembic
alembic/versions/

# VSCode
.vscode/

# Docker
*.log
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Pytest
.cache/

# Coverage
htmlcov/
.coverage

# Jupyter
.ipynb_checkpoints/

# Misc
*.sqlite3 